body {
    background-color: #7cf4d3;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 0;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow-container {
    width: 481px;
    height: 452px;
    background-color: black;
    position: absolute;
    top: calc(50% - 215px);
    left: calc(50% - 230px);
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 0;
    background-color: black;
    color: #fff;
    border: 0;
    cursor: pointer;
}
