@import "@/css/CommonStyles.css";

.create-account-form-container {
    width: 355px;
    height: 295px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 0;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-account-container-shadow {
    width: 418px;
    height: 357px;
    background-color: black;
    position: absolute;
    top: calc(50% - 161px);
    left: calc(50% - 194px);
}
