@import "@/css/CommonStyles.css";

.home-container {
    width: 355px;
    height: 151px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 0;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-container-shadow {
    width: 416px;
    height: 215px;
    background-color: black;
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 192px);
}
