@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    font-family: "Press Start 2P", cursive;
    background-color: #7cf4d3;
    font-size: small;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input {
    width: 210px;
    padding: 10px;
    font-size: 10px;
    border-radius: 0;
    border: 1px solid;
    appearance: none;
    font-family: "Press Start 2P", cursive;
}

.form-group input:focus {
    outline: none;
    border-color: initial;
}

.form-group label {
    display: inline-block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid white;
}

.is-invalid {
    border-color: red;
}
.invalid-feedback {
    color: red;
    font-size: 10px;
    margin-top: 5px;
}

.btn {
    width: 100%;
    padding: 15px;
    font-size: small;
    font-family: "Press Start 2P", cursive;
    border-radius: 0;
    background-color: black;
    color: #fff;
    border: 0;
    cursor: pointer;
}
