@import "./CommonStyles.css";

.container {
    width: auto;
    min-width: 92%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 0;
    border: 1px solid black;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 15px 15px 0px 0px black;
    overflow: scroll;
}

.container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tile {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 15px;
    background-color: #ea4274c2;
    border-radius: 0;
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 0px 0px black;
    transition: all 0.3s ease-in-out;
}

.tile:hover {
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 0px 0px black;
    cursor: pointer;
}

.tile:active {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px 0px black;
}

.tile:focus {
    outline: none;
}

p {
    margin: 0;
}
