<template>
    <div>
        <div class="container-shadow"></div>
        <div class="form-container">
            <div style="height: 25px; background-color: white"></div>
            <form>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input
                        type="email"
                        id="email"
                        v-model="email"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input
                        type="password"
                        id="password"
                        v-model="password"
                        class="form-control"
                    />
                </div>
                <div style="height: 20px; background-color: white"></div>
                <button @click.prevent="handleSubmit" class="btn btn-primary">
                    Login
                </button>
            </form>
        </div>
    </div>
</template>

<style scoped>
@import "./LoginPage.css";
</style>

<script>
import login from "./Login.js";

export default {
    mixins: [login],
    methods: {
        async handleSubmit() {
            const response = await this.submit();
            if (response.data.userExists) {
                this.$router.push({ path: "/dashboard" });
            }
        },
    },
};
</script>
